/* body {
  background: linear-gradient(170deg, yellow, hotpink) fixed;
  font-family: helvetica;
  font-weight: bold;
  font-size: 22px;
} */
body {
  font-family: Roboto, sans-serif;
  background: linear-gradient(170deg, yellow, hotpink) fixed;
  place-items: center;
  text-align: center;
  margin: 2% auto 0 auto;
  width: 90%;
  height: 98vh;
  overflow: hidden;
}
/*
Basic input element using psuedo classes
*/

html {
  font-family: "Lora", sans-serif;
  width: 100%;
}

/* body {
 
  
} */

h1 {
  font-size: 28px;
  margin-bottom: 2.5%;
}

input,
span,
label {
  font-family: "Ubuntu", sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 22px;
}

input:focus {
  outline: 0;
}
/* Question */

input.question {
  font-size: 38px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label {
  border-color: green;
}

input.question:invalid {
  box-shadow: none;
}

input.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8f8f8f;
  font-size: 48px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #eee;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}

.treat-button {
  font-family: "Fascinate Inline", cursive;
  font-size: 4vmin;
  appearance: none;
  background: linear-gradient(to bottom, #f46001, #e14802);
  border: none;
  color: #fff;
  border-radius: 2em;
  padding: 0.6em 1.5em;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.2);
  transition: transform 0.1s cubic-bezier(0.5, 0, 0.5, 1), box-shadow 0.2s;
  outline: none;
}
.treat-button:hover {
  box-shadow: 0 0 2em rgba(255, 255, 255, 0.3);
}
.treat-button:active {
  transform: scale(0.8) translateY(10%);
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.submit {
  background: linear-gradient(to bottom, #97f401, #3cbde4);
}
